* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.gameContainer {
    background-image: url(/assests/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino {
    background-image: url(/assests/wahab.png );
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 52px;
    background-color: red;
}

.obstacle {
    width: 120px;
    height: 78px;
    background-image: url(/assests/dragon.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
    background-color: blue;
}

.animateDino {
    animation: dino 0.6s linear;
}

/* .obstacleAni {
    animation: obstacleAni 5s linear infinite;
} */

/* .gameOver {
    visibility: hidden;

} */

#scoreCont {
    position: absolute;
    top: 30px;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    color: #222;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#scoreCont:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}








@keyframes dino {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 422px;
    }

    100% {
        bottom: 0;
    }
}

/* @keyframes obstacleAni {
    0% {
        left: 120vw;
    }

    100% {
        left: -10vw;
    }
} */